html, body {
	margin:0px;
	padding:0px;
}

#logo{
	font-family:"Centaur";
	color: #8bae22;
    display:block;
	background-color:white;
	height:auto;
	width:auto;
	padding:15px 15px 15px 15px; /*top right bottom left*/
	text-align:center; 
	font-size:50px;
	margin:0px;
}

#navigation{
	display:block;
	background-color:transparent;
	color:red;
	height:auto;
	width:auto;
	padding:15px 15px 15px 15px;
	text-align:center;  
	font-size:20px; 
	margin:0px;
}

#customcontent{
	display:block;
	background-color:white;
	color:black;
	height:auto;
	width:auto;
	padding:15px 15px 1500px 15px;
	text-align:center;
	font-size:50px;
	margin:0px;
}